build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    complexity: 2
    LongParameterList: 1
    style: 1
    comments: 1

config:
  validation: true
  warningsAsErrors: false

processors:
  active: true

console-reports:
  active: true

output-reports:
  active: true
  exclude:
    - 'TxtOutputReport'

comments:
  active: true
  CommentOverPrivateFunction:
    active: false
  UndocumentedPublicClass:
    active: false
  UndocumentedPublicFunction:
    active: false

complexity:
  active: true
  CyclomaticComplexMethod:
    active: true
    threshold: 18
    ignoreAnnotated: ['Composable']
  LargeClass:
    active: true
    threshold: 600
    excludes: ['**/test/**', '**/androidTest/**']
  LongMethod:
    active: true
    threshold: 80
    ignoreAnnotated: ['Composable']
  LongParameterList:
    active: true
    functionThreshold: 8
    constructorThreshold: 10
    ignoreAnnotated: ['Composable']
  NestedBlockDepth:
    active: true
    threshold: 5
  TooManyFunctions:
    active: true
    thresholdInFiles: 15
    thresholdInClasses: 15
    thresholdInInterfaces: 25
    thresholdInObjects: 15
    thresholdInEnums: 15

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

naming:
  active: true
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
    ignoreAnnotated: ['Composable']
  VariableNaming:
    active: true
    variablePattern: '[a-z][A-Za-z0-9]*'
  TopLevelPropertyNaming:
    active: true
    constantPattern: '[A-Z][_A-Z0-9]*'

performance:
  active: true
  ForEachOnRange:
    active: true
  SpreadOperator:
    active: true

potential-bugs:
  active: true
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  EqualsWithHashCodeExist:
    active: true
  ExplicitGarbageCollectionCall:
    active: true
  UnreachableCode:
    active: true

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - 'ArrayIndexOutOfBoundsException'
      - 'Error'
      - 'IllegalMonitorStateException'
      - 'IndexOutOfBoundsException'
      - 'NullPointerException'
      - 'RuntimeException'
      - 'Throwable'
    allowedExceptionNameRegex: '_|(ignore|expected).*'
  SwallowedException:
    active: true
    ignoredExceptionTypes:
      - 'InterruptedException'
      - 'MalformedURLException'
      - 'NumberFormatException'
      - 'ParseException'
    allowedExceptionNameRegex: '_|(ignore|expected).*'

columba:
  active: true
  BleLoggingTag:
    active: true
  NoRelaxedMocks:
    active: true
  NoVerifyOnlyTests:
    active: true
  StateFlowPollingLoop:
    active: true

style:
  active: true
  ForbiddenComment:
    active: false
  MagicNumber:
    active: false
  MaxLineLength:
    active: true
    maxLineLength: 200
  ReturnCount:
    active: true
    max: 3
  ThrowsCount:
    active: true
    max: 2
  UnusedPrivateMember:
    active: true
  UseCheckOrError:
    active: true
  UseRequire:
    active: true
  WildcardImport:
    active: true
    excludes: ['**/test/**', '**/androidTest/**']
