<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="network.reticulum.android" />

    <application>
        <!-- Test host for Compose instrumented tests (no launcher icon) -->
        <activity
            android:name="network.columba.app.test.TestHostActivity"
            android:exported="true" />

        <!-- Disable LeakCanary's "Leaks" launcher icon -->
        <activity
            android:name="leakcanary.internal.activity.LeakLauncherActivity"
            android:enabled="false"
            tools:replace="android:enabled" />
    </application>

</manifest>
